<%= form_for [@post, @comment] do |f| %>
  <div class="emoji-picker-container">
  <%= f.text_area :content, class: 'form-control', data: {emojiable: true} %><br>
  </div><br>
  <%= f.submit 'Update Comment', :class => "btn btn-default" %>
<% end %>
