<div class="emoji-picker-container">
<%= form_for [@post, @comment] do |f| %>

  <%= f.text_area :content, class: 'form-control', data: {emojiable: true} %><br>
  </div><br>
  <%= f.submit %>
<% end %>
