<%= render "posts/navbar" %>

<div class="profile">

<h1>Sign in with:</h1>

<%= link_to "Sign in", new_user_session_path %>
<a href="" class="button">Twitter</a>

<h1>Sign up with:</h1>

<%= link_to "Sign up", new_user_registration_path %>
<a href="" class="button">Twitter</a>


</div>
