<%= render "navbar" %>

<div class="container post">
  <% if current_user %>
    <%= link_to "&larr; Back".html_safe, post_path %>
    <h2>Edit Post</h2>
    <%= render "form" %>
  <%else%>
    <%= link_to "&larr; Back".html_safe, post_path %>
    <h2>Only the author of this post can edit it.</h2>
  <%end%>
</div>
