label {
  margin-bottom: 10px;
}

input[type="text"] {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
}

textarea{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

input[type="submit"] {
  margin-top: 20px;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  }
