// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newPost {
  margin-left: 60px;
  margin-top: 100px;
}

.viewAllPosts {
  text-align: center;
  margin-top: 100px;
}

.postTitle {
  font-size: 30px;
  color: #2e373d;
  font-weight: 400;
}

.postTitle a {
  color: #2e373d;
}

.postTitle a:hover {
  color: #f3554c;
}

.viewPost {
  margin-left: 60px;
  margin-top: 100px;
}

.divider {
  margin: 30px 120px 0 120px;
  background-color: #e0dfdf;
  height: 1px;
}

time {
  font-size: 13px;
  font-style: italic;
}
