// // Place all the styles related to the posts controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

body a {
  color: #f3554c;
}

body a:hover{
  color: #ad3b34;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.center a {
  color: #f3554c;
}

.center a:hover {
  color: #ad3b34;
}

.center h6 {
  font-style: italic;
   color: #b5b5b5;
}

.center h3 a {
  color: #2e373d;
}

.center h3 a:hover {
  color: #f3554c;
  text-decoration: none;
}

.center p {
  color: #333;
}

.post p {
  color: #333;
}

.post a {
  color: #f3554c;
}

.post a {
  color: #f3554c;
}

.post a {
  color: #f3554c;
}

.post h6 {
  font-style: italic;
  color: #b5b5b5;
}

.post h4 {
  margin-bottom: 20px;
}

.midDivider {
  margin: 30px 200px 0 200px;
  background-color: #e0dfdf;
  height: 1px;
}

.divider {
  margin: 30px 200px 30px 0;
  background-color: #e0dfdf;
  height: 1px;
}




