// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile {
  margin-left: 60px;
  margin-top: 100px;
  max-width: 800px;

}

.users {
  margin-left: 60px;
  margin-top: 100px;
}

.profile h1{
  font-weight: 400;
}

.welcome {
  font-weight: 400;
}

.optionsMiddle h3, p {
  display: inline-block;
}

.optionsMiddle a {
  color: #f3554c;
}

.optionsMiddle a:hover {
  color: #ad3b34;
}

.optionsMiddle img {
  border-radius: 23px;
}

