// // Place all the styles related to the users controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.user h6{
  display: inline-block;
}

.user a {
  color: #f3554c;
}

.user a:hover {
  color: #ad3b34;
}

.user img {
  margin-top: 30px;
}

.field .form-control {
  width: 300px;
}

//messages
.messages h6 {
  font-style: italic;
  color: #b5b5b5;
}

.current {
  color: #f3554c;
}
